#buttons.disabled {
    cursor: not-allowed;
}
#buttons.disabled button {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;
}

#buttons button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;
}
